$font-stack: "Montserrat", Arial, sans-serif;
$button-create-save-background-color: #F7EE55;
$button-delete-background-color: #DA1515;
$button-cancel-background-color: #000000;
$title-table-line-height: 130%;
$table-header-font-color: #777777;
$table-text-font-color: #333333;
$table-border-color: #C5C5C5;

@mixin fontstyle($weight, $size, $lineheight: normal, $fontcolor: #000000) {
  font-family: $font-stack;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineheight;
  color: $fontcolor;
}

@mixin button-border-style() {
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
}

@mixin input-border-style() {
    border: 1px solid #AAAAAA;
    border-radius: 6px;
    box-sizing: border-box;
}

@mixin button-size-color-slyle($width, $color) {
    width: $width;
    height: 48px;
    background-color: $color
}